# Игнорировать папку node_modules
node_modules/

# Игнорировать файл .env
.env

# Игнорировать папку dist (выходные файлы сборки)
dist/

# Игнорировать файлы журналов
*.log

# Игнорировать временные файлы и папки IDE
*.tmp
*.swp
*.swo
.vscode/
.idea/

# Игнорировать кэш npm
.npm/
