.board{
    display: flex;
    width: 100%;
    border: 1px solid rgb(45, 138, 195);
    border-radius: 8px;
    justify-content: space-around;
    padding-block: 10px;
}
.boardpart {
    width: 22%;
    background-color: rgb(78, 78, 78);
    color: white;
}
.create-task-btn {
    height: 200px;
    margin-top: 150px;
}
.headtext {
    font-size: large;
    color: rgb(77, 171, 229);
    border-bottom: 1px solid white;
    padding: 10px;
    width: 80%;
}